{% extends 'Activities/base_template.html' %}
{% block post_content %}
<div class="post media">
    <h2>{{post.message}}</h2>
    <div class="media-body">
        <h5 class="media-heading">
                <span class="username">
                    <a href="{{ post.pic.url }}">
                  <img
                    src="{{ post.pic.url }}"
                    class="rounded-circle"
                    width="160px"
                    height="160px"
                  />
                </a>
                </span>
            <h3>{{post.description}}</h3>
            <time>
                <h2>Created at :{{post.post_date}}</h2>
                <h3>Liked by :{{liked.count}}</h3>
            </time>
        </h5>
<div class="media-footer">
    {% if post.posted_user.is_authenticated %}
    <a href="{% url 'Activities:del_post' pk=post.pk %}" title="delete" class="btn btn-simple">
    <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
     <span class="text-danger icon-label">Delete</span>
        </a>
    <a href="{% url 'People:profile_page' slug=post.posted_user.profile.slug %}">Go Back</a>
    {% endif %}
</div>
    </div>
</div>
{% endblock %}