{% extends 'Activities/base_template.html' %}
{% block body_block %}
{% for p in all_posts %}
<div class="col-md-2">
    <a href="{{ p.pic.url }}">
                  <img
                    src="{{ p.pic.url }}"
                    class="rounded-circle"
                    width="160px"
                    height="160px"
                  />
                </a>
    <h2>Posted by:{{p.posted_user}}</h2>
    <a href="{% url 'Activities:like_post' pk=p.pk %}">Like</a>
    <h3>Liked by :{{ all_likes|length }}</h3>
</div>
    {% endfor %}
{% endblock %}